.containers {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px 50px 50px;
}

.projects {
  width: 100%;
  max-width: 600px;
  padding: 100px 0;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
}

.commingSoon {
  width: 100%;
  max-width: 600px;
  padding: 0px 0 70px 0;
}

.projectCollection {
  width: 100%;
  max-width: 1200px;

  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project {
  margin: 20px 10px;
  width: 330px;
}

.imgContainer {
  width: 100%;
  object-fit: cover;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  display: block;
}

.titleContainer {
  margin: 15px 0 0 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleContainer:hover {
  margin: 15px 0 0 0;
  display: flex;
  color: #d30320;
}

.link {
  cursor: pointer;
}

.titleContainer h4,
.titleContainer a {
  margin: 0px 0 0 20px;

  word-wrap: break-word;
}

.titleContainer h4,
.titleContainer a {
  margin: 0px 0 0 20px;
}

.number {
  font-weight: 700;
}

.number:hover {
  color: #d30320;
  font-weight: 700;
}

@media (max-width: 450px) {
  /* if width is < 450 hide it */

  .containers {
    padding: 0 20px;
  }

  .projectCollection {
    padding: 0px 0px;
  }
}

.project__thumbnail {
  transition: transform var(--tr-part);
}

.project__thumbnail:hover {
  transform: scale(1.05);
}

.containers a {
  cursor: pointer;
  position: relative;
}

.containers a:hover {
  color: #000000;
  transition: color 0.7s linear;
}

.containers a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.tagsContainer {
  /* border: 2px solid red; */
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px 10px;
}

.tags {
  padding: 3px 7px;
  background-color: #f3f4f6;
  color: #374151;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
}
