.container {
  width: 480px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 7px;
}

.container:hover {
  top: -2px;
  box-shadow: 10px 10px 40px 4px rgba(45, 78, 255, 0.15);
}

.imgContainer {
  width: 100%;
  min-height: 200px;
  max-height: 230px;
  display: block;
  overflow: hidden;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.details {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 25px;
  font-weight: 700;
  padding: 0 !important;
  color: #333;
  margin-top: 10px;
}

.desc {
  color: #333333;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 400;
}

.tagsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
}

.tags {
  padding: 3px 7px;
  background-color: #f3f4f6;
  color: #374151;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
}
