/* footer */

.footer{
    padding: 15px 0;
    width: 100%;
    border-top: 1px solid #eaeaea;
}

.footer ul{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.footer li {
    padding:10px 10px;
}

.footer a{
    font-size: 22px;
    cursor: pointer;
}



.footer a:hover{
    transition: color 0.3s linear ;
}

.footer ul li{
    list-style: none;
}

/* new */

.box a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 1px solid #d5dbf2;
    border-radius: 100%;
    margin-left: 0px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s;
  }
  
  .box a::after {
    z-index: -5;
    content: "";
    width: 45px;
    height: 45px;
    background-color: #222222;
    border-radius: 100%;
    position: absolute;
    opacity: 0;
    transform: scale(0.3);
    transition: all 0.3s ease;
  }

  .footer .linkedin{
    color: #0077b5;
  }

  .footer .linkedin::after{
    background-color: #0077b5;
  }
  
  .footer .twitter{
    color: #1da1f2;
  }

  .footer .twitter:hover{
    color: #1da1f2;
  }

  .footer .twitter::after{
    color: #1da1f2;
    background-color: rgba(29, 161, 242, 0.2);
  }
  
  

  .footer .instagram{
      
      color: #F56040;
    }

  .footer .instagram:hover{
    color:  radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }

  .footer .instagram::after{
    color:  radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }
  

  .box a:hover::after {
    opacity: 1;
    transform: scale(1);
  }
  
  .box i {
    color: white;
    width: 38px;
    height: auto;
    transition: all 0.3s ease;
  }
  
  .box a:hover {
    border: 0;
    transition: border 0.6s;
    transform: translateY(-7px);
  }
  
  .box a:hover {
    color: #fff;
  }