.container {
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  display: flex;
  background-color: white;
  box-shadow: -10px -10px 30px 4px rgba(0, 0, 0, 0.1),
    10px 10px 30px 4px rgba(45, 78, 255, 0.15);
  animation: slide 0.1s ease-in;
}

.projectContainer {
  border-radius: 10px;
  width: 100%;
  max-width: 270px;
  display: flex;
  background-color: white;
  box-shadow: -10px -10px 30px 4px rgba(0, 0, 0, 0.1),
    10px 10px 30px 4px rgba(45, 78, 255, 0.15);
  animation: slide 0.1s ease-in;
  z-index: 9999 !important;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 7px;
  object-fit: cover;
  animation: imgs 0.3s ease-in;
}

.description {
  width: 100%;
  padding: 15px 20px;
  animation: show 1s ease;
  z-index: 9999 !important;
}

.description p:first-child {
  display: block;
  font-weight: 700;
  font-size: 27px;
}

.description p:last-child {
  margin: 10px 0 0 0;
  line-height: 1.2em;
  font-size: 16px;
}

@keyframes slide {
  0% {
    width: 600px;
  }

  100% {
    width: 600px;
  }
}

@keyframes show {
  0% {
    height: 0%;

    opacity: 0;
  }

  100% {
    height: 100%;

    opacity: 1;
  }
}

@keyframes imgs {
  0% {
    height: 0%;
    width: 0%;
    border-radius: 10px;
  }
  100% {
    border-radius: 0%;
    width: 100%;
  }
}
