.container {
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  display: flex;
  background-color: white;
  box-shadow: -10px -10px 30px 4px rgba(0, 0, 0, 0.1),
    10px 10px 30px 4px rgba(45, 78, 255, 0.15);
  animation: slide 0.1s ease-in;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 7px;
  object-fit: cover;
  animation: imgs 0.3s ease-in;
}

.projectDescription {
  padding: 7px;
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
}

@keyframes slide {
  0% {
    width: 600px;
  }

  100% {
    width: 600px;
  }
}

@keyframes show {
  0% {
    height: 0%;

    opacity: 0;
  }

  100% {
    height: 100%;

    opacity: 1;
  }
}

@keyframes imgs {
  0% {
    height: 0%;
    width: 0%;
    border-radius: 10px;
  }
  100% {
    border-radius: 0%;
    width: 100%;
  }
}
