.container{
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  min-height: 100vh;
}


.name{
  padding: 350px 50px 0 50px;
  text-align: center;
  font-size: clamp(1rem, 10vw, 2rem); 
  width: 100%;
  max-width: 600px;
  font-weight: 800;
  /* border: 2px solid green; */
}

.description{
  /* border: 2px solid green; */
  padding: 0px 20px 0 20px;
  width: 100%;
  max-width: 600px;  
  text-align: center;
  font-size: 18px;
  font-weight: 400;   
}

.description a{
  text-decoration: underline #d30320;
  cursor: pointer;
}


.description a:hover{
  color: #d30320;
  text-decoration: underline #d30320;
  transition: color 0.3s linear ;
}